@import url(https://webgpufundamentals.org/webgpu/resources/webgpu-lesson.css);
html,
body {
	margin: 0; /* remove the default margin          */
	height: 100%; /* make the html,body fill the page   */
}
:root {
	--bg-color: #000e20;
}
@media (prefers-color-scheme: dark) {
	:root {
		--bg-color: #000e20;
	}
}
canvas {
	background-color: var(--bg-color);
	display: block; /* make the canvas act like a block   */
	width: 100%; /* make the canvas fill its container */
	height: 100%;
}

.ui-elements {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	pointer-events: none;

	.cursor {
		width: 7px;
		height: 7px;

		border: 2px solid rgb(255, 255, 255);
		border-radius: 5px;
	}
}
